* {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

body {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#quote-holder {
    padding: 25px;
    max-width: 50%;
    margin: auto;
    background-color: darkcyan;
    border-radius: 10px;
    color: white;
}

#quote {
    font-style: italic;
    font-size: 1.5em;
    color: yellow;
}

@media screen and (max-width: 767px) {
    #quote-holder {
        padding: 25px;
        max-width: 100%;
        margin: auto;
        background-color: darkcyan;
        border-radius: 10px;
        color: white;
    }
}